:root {
  --background-color: #3B4953;
  --light-background-color: #88a892;
  --disabled-bg-color: #69726c;
  --today-color: #536674;
  --navigation-color: #90AB8B;
  --navigation-link-color: #6a6d70;
  --text-color: #fff;
  --disabled-text-color: #919e96;
  --border-color-1: #687a6e;
  --border-color-2: #4f6957;
  --border-color-3: #465c4c;
  --content-bg-color: #5A7863;
  --button-color: #405546;
  --shadow-color: #00000080;
  --form-link-color: #85b8df;
  --form-link-hover-color: #7eb4dd;
  --form-link-visited-color: #93c8f1;
  --gallery-color: #8ea796;
}