.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 15px;
  background-color: var(--navigation-color);
  border-radius: 10px;
  box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  max-width: 800px;
  align-items: center;
}

.gallery-item {
  transition: transform 0.2s ease-in-out;
  width: 600px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  display: inline-block;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#left-button-gallery {
  background-color: var(--content-bg-color);
  color: var(--text-color);
  font: 200 Montserrat bold;
  font-size: large;
  border: 2px solid var(--button-color);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
}

#left-button-gallery:hover, #right-button-gallery:hover {
  background-color: var(--border-color-2);
  font-size: small;
  font-weight: bold;
  transform: scale(1.2);
  margin: 0 auto;
  border: 4px solid var(--button-color);
  box-shadow: 0 4px 8px var(--shadow-color);
}

#right-button-gallery {
  background-color: var(--content-bg-color);
  color: var(--text-color);
  font: 200 Montserrat bold;
  font-size: large;
  border: 2px solid var(--button-color);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 800px) {
  .gallery-item {
    width: 400px;
    height: auto;
  }
}

@media (max-width: 600px) {
  .gallery-item {
    width: 200px;
    height: auto;
  }
}