:root {
  --background-color: #3B4953;
  --light-background-color: #88a892;
  --disabled-bg-color: #69726c;
  --today-color: #536674;
  --navigation-color: #90AB8B;
  --navigation-link-color: #6a6d70;
  --text-color: #fff;
  --disabled-text-color: #919e96;
  --border-color-1: #687a6e;
  --border-color-2: #4f6957;
  --border-color-3: #465c4c;
  --content-bg-color: #5A7863;
  --button-color: #405546;
  --shadow-color: #00000080;
  --form-link-color: #85b8df;
  --form-link-hover-color: #7eb4dd;
  --form-link-visited-color: #93c8f1;
}

html, body {
  height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--background-color);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-color);
  font-family: Montserrat;
}

.white-heading {
  font-family: Montserrat;
  font-size: 24px;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 20px;
}

.site-footer {
  padding: 10px 0;
  text-align: center;
  margin-top: 30px;
  max-width: 800px;
  margin: 0 auto;
  width: fit-content;
  width: 90vh;
  border-radius: 15px;
}
.footer-text {
  color: var(--text-color);
  font-family: Montserrat;
  font-size: 14px;
  margin: 0;
  margin: 10px;
}

.logo {
  width: 34px;
  height: 34px;
  display: block;
  margin-left: auto;
  object-fit: cover;
  transition: all 0.18s ease-in-out;
  border: 2px solid var(--border-color-3);
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 1px 2px var(--shadow-color);
  box-sizing: border-box;
  align-self: center;
}
.logo:hover {
  transform: scale(1.06);
}   

.navimage {
  padding: 0;
  margin: 0;
  display: block;
  height: 34px;
  width: 34px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 1px 2px var(--shadow-color);
  box-sizing: border-box;
  align-self: center;
}  

.navigator {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 14px;
  background-color: var(--navigation-color);
} 

.navlinks {
  font-family: Montserrat;
  padding: 8px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  background-color: var(--navigation-link-color);
  transition: all 0.2s ease;
  margin: 10px;
  border: 2px solid var(--border-color-3);
}

.navlinks:hover {
  background-color: var(--border-color-2);
  border-radius: 11px;
  padding-left: 11px;
  padding-right: 11px;
  border: 2px solid var(--border-color-2);
} 

.main-paragraph {
  font-family: Montserrat;
  font-size: 14px;
  color: var(--text-color);
  margin: 15px;
  text-align: center;
}

.main-paragraph-2 {
  font-family: Montserrat;
  font-size: 14px;
  color: var(--text-color);
  margin: 15px;
  text-align: center;
  max-width: 800px;
}

.max-width-800 {
  max-width: 800px;
  margin: 0 auto;
}

#max-width-800 {
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .navigator {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .logo {
    margin-left: 0;
    height: 34px;
    width: 34px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 8px;
  }

  .navlinks {
    width: 80%;
    max-width: 300px;
    margin: 10px auto;
    display: block;
    text-align: center;
    min-width: 90vw;
  }

  body {
    overflow-x: hidden;
  }

  .navigator {
    padding-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .navlinks {
    font-size: 16px;
    padding: 12px;
    min-width: 90vw;
  }

  .white-heading {
    font-size: 20px;
  }
}