:root {
  --background-color: #3B4953;
  --light-background-color: #88a892;
  --disabled-bg-color: #69726c;
  --today-color: #536674;
  --navigation-color: #90AB8B;
  --navigation-link-color: #6a6d70;
  --text-color: #fff;
  --disabled-text-color: #919e96;
  --border-color-1: #687a6e;
  --border-color-2: #4f6957;
  --border-color-3: #465c4c;
  --content-bg-color: #5A7863;
  --button-color: #405546;
  --shadow-color: #00000080;
  --form-link-color: #85b8df;
  --form-link-hover-color: #7eb4dd;
  --form-link-visited-color: #93c8f1;
}

html, body {
  height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--background-color);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-color);
  font-family: Montserrat;
}

.white-heading {
  font-family: Montserrat;
  font-size: 24px;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 20px;
}

.cal-day {
  font-family: Montserrat;
  font-size: 18px;
  color: var(--text-color);
  text-align: center;
  width: 14.285714285714285%;
  height: 90px;
  text-align: right;
  border: 1px solid var(--border-color-1);
  padding: 8px;
  margin: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  background-color: var(--background-color);
}

.cal-day:hover {
  background-color: var(--content-bg-color);
  font-size: 22px;
  cursor: pointer;
}

.cal-header {
  font-family: Montserrat;
  font-size: 20px;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 10px;
  border: 2px solid var(--border-color-2);
  padding: 10px;
  border-radius: 5px;
  background-color: var(--content-bg-color);
}

.cal-heading {
  font-family: Montserrat;
  font-size: 40px;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 30px;
}

.cal-footer {
  margin: 15px;
  margin-bottom: 15px;
}

.cal-footer-container {
  background-color: var(--content-bg-color);
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 4px 8px var(--shadow-color);
  justify-content: space-between;
  text-align: center;
}

.prev-month, .next-month {
  font-family: Montserrat;
  font-size: 20px;
  color: var(--disabled-text-color);
  text-align: right;
  margin-bottom: 10px;
  background-color: var(--disabled-bg-color);
  padding: 10px;
  border-radius: 5px;
  cursor: default;
}

.navigator {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  background-color: var(--navigation-color);
}

.navlinks {
  font-family: Montserrat;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  background-color: var(--navigation-link-color);
  transition: all 0.2s ease;
  margin: 10px;
  border: 2px solid var(--border-color-3);
}

.navlinks-content {
  font-family: Montserrat;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  background-color: var(--navigation-link-color);
  transition: all 0.2s ease;
  margin: 10px auto;
  border: 2px solid var(--border-color-3);
  display: inline-block;
  text-align: center;
}

.navlinks:hover {
  background-color: var(--border-color-2);
  border-radius: 11px;
  padding-left: 13px;
  padding-right: 13px;
  border: 2px solid var(--border-color-2);
}

.main-paragraph {
  font-family: Montserrat;
  font-size: 14px;
  color: var(--text-color);
  margin: 15px;
  text-align: center;
}

.main-paragraph-2 {
  font-family: Montserrat;
  font-size: 14px;
  color: var(--text-color);
  margin: 15px;
  text-align: center;
  max-width: 800px;
}

.max-width-800 {
  max-width: 800px;
  margin: 0 auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 15px;
  background-color: var(--navigation-color);
  border-radius: 10px;
  box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  max-width: 800px;
  align-items: center;
}

.gallery-item {
  transition: transform 0.2s ease-in-out;
  width: 200px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  display: inline-block;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#form-footer-text {
  font-family: Montserrat;
  font-size: 14px;
  color: var(--text-color);
  margin: 15px;
  text-align: center;
}

#form-link {
  font-family: Montserrat;
  font-size: 14px;
  color: var(--form-link-color);
  text-decoration: none;
  transition: all 0.2s ease;
}

#form-link:hover {
  color: var(--form-link-hover-color);
  font-weight: bold;
}

#form-link:visited {
  color: var(--form-link-visited-color);
}

#return-to-home {
  font-family: Montserrat;
  font-size: 14px;
  color: var(--form-link-color);
  text-decoration: none;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#left-button-gallery {
  background-color: var(--content-bg-color);
  color: var(--text-color);
  font: 200 Montserrat bold;
  font-size: large;
  border: 2px solid var(--button-color);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
}

#left-button-gallery:hover, #right-button-gallery:hover {
  background-color: var(--border-color-2);
  font-size: small;
  font-weight: bold;
  transform: scale(1.2);
  margin: 0 auto;
  border: 4px solid var(--button-color);
  box-shadow: 0 4px 8px var(--shadow-color);
}

#right-button-gallery {
  background-color: var(--content-bg-color);
  color: var(--text-color);
  font: 200 Montserrat bold;
  font-size: large;
  border: 2px solid var(--button-color);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
}

#event-calendar {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
  background-color: var(--navigation-color);
  border-radius: 10px;
  box-shadow: 3px 10px 20px var(--shadow-color);
  text-align: center;
}

#event-details {
  background-color: var(--content-bg-color);
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 3px 10px 20px var(--shadow-color);
  text-align: center;
  max-width: 800px;
}

#event-calendar th, #event-calendar td {
  vertical-align: top;
}

#announcements {
  background-color: var(--content-bg-color);
  margin: 20px auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 3px 10px 20px var(--shadow-color);
  text-align: center;
  max-width: 800px;
  width: 90vw;
}

#max-width-800 {
  max-width: 800px;
  margin: 0 auto;
}

#today {
  background-color: var(--today-color);
}

#today:hover {
  background-color: var(--content-bg-color);
}

#event-form {
  background-color: var(--content-bg-color);
  margin: 20px auto;
  padding: 25px;
  padding-bottom: 40px;
  border-radius: 15px;
  box-shadow: 3px 10px 20px var(--shadow-color);
  text-align: center;
  max-width: 800px;
}

#event-form 
input[type="text"]#name,
input[type="text"]#event-name, 
input[type="text"]#event-location, 
input[type="date"]#event-date, 
input[type="time"]#event-time {
  box-sizing: border-box;
  width: 100%;
  max-width: 700px;
  padding: 10px;
  border: 2px solid var(--border-color-3);
  border-radius: 5px;
  margin-bottom: 15px;
  font-family: Montserrat;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--light-background-color);
  text-align: center;
}

input[type="text"]#name:focus,
input[type="text"]#event-name:focus, 
input[type="text"]#event-location:focus, 
input[type="date"]#event-date:focus, 
input[type="time"]#event-time:focus {
  border-color: var(--border-color-2);
  box-shadow: 0 0 5px var(--border-color-2);
}

#submit-button {
  background-color: var(--button-color);
  color: var(--text-color);
  font-family: Montserrat;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 0px;
  width: 700px;
  box-shadow: 0 4px 8px var(--shadow-color);
  border: 4px solid var(--button-color);
}

#submit-button:hover {
  background-color: var(--border-color-2);
  font-weight: bold;
  margin: 0 auto;
  border: 4px solid var(--button-color);
  box-shadow: 0 4px 8px var(--shadow-color);
}

#event-form select {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  max-width: 700px;
  padding: 10px;
  border: 2px solid var(--border-color-3);
  border-radius: 5px;
  margin-bottom: 15px;
  font-family: Montserrat;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--light-background-color);
  text-align: center;
}

.invert-icon::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}

@media (max-width: 768px) {
  .navigator {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .navlinks {
    width: 80%;
    max-width: 300px;
    margin: 10px auto;
    display: block;
    text-align: center;
    min-width: 90vw;
  }

  #event-calendar {
    max-width: 100%;
    overflow-x: auto;
  }

  .cal-day {
    font-size: 16px;
    height: auto;
    min-height: 70px;
    padding: 6px;
  }

  .prev-month, .next-month {
    font-size: 16px;
    padding: 8px;
  }

  .cal-header {
    font-size: 16px;
    padding: 8px;
  }

  .cal-heading {
    font-size: 32px;
  }

  body {
    overflow-x: hidden;
  }

  .navigator {
    padding-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .navlinks {
    font-size: 16px;
    padding: 12px;
    min-width: 90vw;
  }

  .white-heading {
    font-size: 20px;
  }
}