html, body {
  height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: #3B4953;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: Montserrat;
}

.white-heading {
  font-family: Montserrat;
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.cal-day {
  font-family: Montserrat;
  font-size: 18px;
  color: #fff;
  text-align: center;
  width: 14.285714285714285%;
  height: 90px;
  text-align: right;
  border: 1px solid #687a6e;
  padding: 8px;
  margin: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  background-color: #3B4953;
}

.cal-day:hover {
  background-color: #5A7863;
  font-size: 20px;
  cursor: pointer;
}

.cal-header {
  font-family: Montserrat;
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  border: 2px solid #4f6957;
  padding: 10px;
  border-radius: 5px;
  background-color: #5A7863;
}

.cal-heading {
  font-family: Montserrat;
  font-size: 40px;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.prev-month, .next-month {
  font-family: Montserrat;
  font-size: 20px;
  color: #919e96;
  text-align: right;
  margin-bottom: 10px;
  background-color: #69726c;
  padding: 10px;
  border-radius: 5px;
  cursor: default;
}

#event-calendar {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
  background-color: #90AB8B;
  border-radius: 10px;
  box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
}

#event-details {
  background-color: #5A7863;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 800px;
}

#event-calendar th, #event-calendar td {
  vertical-align: top;
}